html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #9e9e9f;
  // background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  max-width: 100%;
  // box-shadow: 7px 7px 14px rgba(#000, 0.4);
  border-radius: 4px;
}