<!DOCTYPE html>
html(lang="zh-Hant")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Radio-Defense

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Yantramanav:300,400,500")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/CSSPlugin.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/easing/EasePack.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenLite.min.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.3/dat.gui.min.js")

  body
    .container
      canvas#game(width="856" height="624")
      .panel#panel
        .logo R
        h1 Radio Defense
        button#start-btn(type="button") Start Game
        .intro
          p 你身負著運送能量電池的任務
          p 卻遭到幾何星人的埋伏
          p 請從他們手中奪回能量電池！



    link(rel="stylesheet" href="./css/style.css")
    script(src="./js/index.js")