html, body {
  height: 100%;
  position: relative;
  // overflow: hidden;
  // @media screen and (min-width: 576px) {
  //   overflow: hidden;
  // }
}

html {
  font-size: 10px !important;
  font-family: "Helvetica Neue", Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

a {
  text-decoration: none;
}

// .fade-out {
//   opacity: 0 !important;
// }

.fade-in {
  opacity: 1 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.of-v {
  overflow: visible;
}