.content {
  // background-color: #fff;
  // color: #fff;
  // ASK mob #47 or web #2b
  // color: #474747;
  color: #2b2b2b;
  padding-right: 24px;
  padding-left: 24px;
  // prevent margin collapse
  overflow-x: hidden;
  &--dark {
    color: #bcbcbc;
    background-color: transparent;
  }
  // &--light {
  //   @media screen and (min-width: 576px) {
  //     max-width: 960px;
  //   }
  // }
  &--photo-page {
    position: relative;
    width: 36%;
    left: 7%;
    padding-right: 0;
    padding-left: 0;
    @media screen and (min-width: 768px) {
      width: 28%;
      left: 16%;
    }
    // margin-top: 100vh;
    // transition: margin-top 1s;
    // visibility: hidden;
  }

  // light for mobile
  &__title {
    margin-bottom: 40px;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: 2.9px;
    color: #000;
    margin-top: 100px;
    &--dark {
      color: #fff;
    }
    &--photo-page, &--light {
      font-size: 3.8rem;
      letter-spacing: 10.7px;
      line-height: 1.56;
      margin-top: 168px;
      margin-bottom: 50px;
    }
  }

  &__subtitle {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.64;
    letter-spacing: 2.2px;
    margin-top: 50px;
    margin-bottom: 12px;
    color: #fff;
  }

  &__text {
    // font-size: 1.6rem;
    font-size: 1.8rem;
    line-height: 1.75;
    // letter-spacing: 1.3px;
    letter-spacing: 0.9px;
    // text-align: justify;
    // &--light {
      // @media screen and (min-width: 768px) {
        // font-size: 1.8rem;
        // letter-spacing: 0.9px;
        // ASK
        // line-height: 1.56;
      // }
    // }
  }

  &__quote {
    font-size: 2.2rem;
    line-height: 1.73;
    color: #b98e49;
    letter-spacing: 2.2px;
    margin-bottom: 12px;
    &--light {
      @media screen and (min-width: 768px) {
        font-size: 3rem;
        line-height: 1.47;
        letter-spacing: 1.5px;
        margin-bottom: 4px;
        // ASK only here bold?
        font-weight: 700;
      }
    }
    &-wrapper {
      padding-right: 50px;
      padding-left: 50px;
      margin-top: 64px;
      margin-bottom: 64px;
      &--photo-page {
        padding-right: 0;
        padding-left: 0;
      }
      &--last {
        margin-bottom: 88px;
      }
    }

    &-speaker {
      text-align: right;
      font-size: 1.4rem;
      letter-spacing: 1.4px;
      &--light {
        @media screen and (min-width: 768px) {
          font-size: 1.8rem;
          letter-spacing: 0.9px;
          line-height: 1.56;
        }
      }
      &--photo-page {
        text-align: left;
      }
    }
  }

  &__photo {
    width: 100%;
    height: auto;
    vertical-align: middle;

    &-wrapper {
      position: relative;
      // margin: 48px -30px;
      margin: 48px -24px;
      &--dark {
        margin-bottom: 70px;
      }
      &--light {
        @media screen and (min-width: 768px) {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }

    &-caption {
      // width: 100%;
      font-size: 1.2rem;
      // line-height: 2.33;
      line-height: 2;
      letter-spacing: 1px;
      // padding-left: 32px;
      padding-left: 24px;
      padding-right: 24px;
      // color: #bcbcbc;
      margin-top: 8px;
      &--dark {
        position: absolute;
        // height: 50px;
        // line-height: 50px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        // color: #bcbcbc;
      }
      &--light {
        @media screen and (min-width: 768px) {
          text-align: right;
          padding-left: 0;
          padding-right: 0;
        }
      }
      &--photo-page {
        width: 32%;
        max-width: 400px;
        min-width: 208px;
        right: 10%;
        bottom: 70px;
        color: #bcbcbc;
        // padding-left: 0;
        padding: 12px 20px;
        // text-align: center;
        box-sizing: border-box;
        margin-top: 0;
        // @media screen and (min-width: 768px) {
          // padding-left: 28px;
          // text-align: left;
          // padding-right: 28px;
        // }
      }
    }
  }
}