// 
  設計稿：https://hexschool.github.io/THE_F2E_Design/week8-parallax%20scrolling/#artboard0
  說明：https://www.facebook.com/groups/173311386703334/permalink/210968242937648/
  影片：
  https://www.youtube.com/watch?v=xViDpVyIBoU

//
  尚未完成：
    - 三角形與圓形的滾動動畫;
    - 最後的動畫;
    - 依選項而給不同結果;

  問題：
    -

#bgBegin.blue
  .rect.black
  .circle.blueDark
  svg#beginStar(width="365", height="370")
    polygon(points="182.5,0 0,313 365,313")
    polygon(points="0,57 182.5,370 365,57")
  header
    h1 幾何人格小測驗
    h3 你是哪類人？方塊、三角，或圓形？
  article.question
    p.qnumber 問題 1
    h2 如果有一天，你能用足以改變世界規律的力量做一件事，你會…
    p.qremind 選你心中第一個浮現的答案！
    section.answer
      .a1
        p 摧毀所有人類
      .a1
        p 讓戰爭不再發生
      .a1
        p 長生不老

#bgQ2.blueDark
  .shape
    .rect.pink
    svg(width="148", height="128")
      polygon(points="74,0 0,128 148,128")
    .circle.black
  article.question
    p.qnumber 問題 2
    h2 快遲到了，此時你遇到一條岔路，但不知道怎麼走，這時你會…
    p.qremind 選你心中第一個浮現的答案！
    section.answer
      .a2
        p 向左走
      .a2
        p 向右走
      .a2
        p 打開 Google 地圖

#bgQ3.pink
  .shape
    svg(width="260", height="224")
      polygon(points="130,0 0,224 260,224")
    .rect.blue
    .circle.black
  article.question
    p.qnumber 問題 3
    h2 你正在考試，但你完全沒準備，以致於一題都不會寫，這時你會…
    p.qremind 選你心中第一個浮現的答案！
    section.answer
      .a3
        p 趴下去睡覺
      .a3
        p 隨便填答案
      .a3
        p 全部都選 C

//- #bgCalc.blue(style="width: 100%; height: 100vh; display: flex; position: fixed;")
#bgCalc.blue
  .shape
    .rect.blueDark
    .circle.white
    svg(width="224", height="194")
      polygon(points="112,0 0,194 224,194")
  //- article.calcText#calcText1
    h2 作答完畢
    p 往下持續滾動，將出現測驗結果
  article.calcText#calcText2
    h2 結果產生中…
    p 往下持續滾動，將出現測驗結果
  .scrollShape#scrollShape1
    #scrollRect1.pink
    #scrollRect2.blueDark
    #scrollRect3.blueDark
    #scrollRect4.black
    #scrollRect5.black
    #scrollRect6.pink
    #scrollRect7.blueDark
    #scrollRect8.pink
    #scrollRect9.black
    #scrollRect10.pink
    #scrollRect11.pink
  article.calcText#calcText3
    h2 你是…
    p 往下持續滾動，將出現測驗結果
  
#bgResult
  article.resultTitle
    p 你的人格類型是
    h2 矩形
  .resultShape#resultRect
    #resultRect1.black
    #resultRect2.pink
    #resultRect3
  .rect.pink#moveRect1
  .rect.pink#moveRect2
  .rect.pink#moveRect3
  .rect.black#moveRect4
  .rect.black#moveRect5
  .rect.black#moveRect6
  