@import '../../utils/variables.scss';

.toc {
  font-size: 0.8rem;
  max-height: calc(100vh - 6rem);
  transition: opacity 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, 'PingFang TC', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;

  &.outside {
    position: fixed;
    width: 220px;
    height: 100%;
    top: 0;
    right: 0;
    margin-top: $header-height;
    opacity: 0.4;

    @media screen and (max-width: $break-toc) {
      display: none;
    }

    &:hover {
      opacity: 0.9;
    }

    ul {
      overflow: auto;
      max-height: 85%;
    }

    a {
      max-width: calc(220px - 1.5rem);
    }
  }

  &.inside {
    display: none;
    text-align: right;
    @media screen and (max-width: $break-toc) {
      display: block;
    }

    li {
      width: fit-content;
      margin-left: auto;
    }

    a {
      text-decoration: none;
    }
  }

  ul {
    margin-top: 1.6rem;
    margin-bottom: 0;
    margin-left: 0;

    li {
      list-style: none;
      margin: 0;
    }
  }

  p {
    margin: 0;
  }

  a {
    display: block;
    opacity: 0.4;
    transition: opacity 0.1s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      opacity: 1 !important;
    }
  }
}
