html {
  font-size: 10px !important;
  font-family: Arial, "Microsoft JhengHei Light", sans-serif;
}

// body {
//   @media screen and (min-width: 576px) {
//     overflow: hidden;
//   }
// }

.fade-out {
  opacity: 0 !important;
}

.fade-in {
  opacity: 1 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.hidden {
  overflow: hidden;
}

// .initial {
//   overflow: initial;
// }