html, body {
  height: 100%;
  position: relative;
  @media screen and (min-width: 576px) {
    overflow: hidden;
  }
}

html {
  font-size: 10px !important;
  font-family: Arial, "Microsoft JhengHei", sans-serif;
}

body {
  background-color: #000;
}

.fade-out {
  opacity: 0 !important;
}

.fade-in {
  opacity: 1 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.overflow-auto {
  overflow: auto;
}

// .hidden {
//   overflow: hidden;
// }