.content {
  background-color: #fff;
  // color: #fff;
  color: #474747;
  padding-right: 30px;
  padding-left: 30px;
  // prevent margin collapse
  overflow-x: hidden;
  &--dark {
    color: #bcbcbc;
    background-color: transparent;
  }
  &--photo-page {
    position: relative;
    width: 28%;
    left: 16%;
    padding-right: 0;
    padding-left: 0;
    // margin-top: 100vh;
    // transition: margin-top 1s;
    // visibility: hidden;
  }

  &__title {
    margin-bottom: 40px;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: 2.9px;
    color: #000;
    margin-top: 100px;
    &--dark {
      color: #fff;
    }
    &--photo-page {
      font-size: 4.3rem;
      letter-spacing: 10.9px;
      line-height: 1.5;
      margin-top: 148px;
      margin-bottom: 50px;
    }
  }

  &__subtitle {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.64;
    letter-spacing: 2.2px;
    margin-top: 50px;
    margin-bottom: 12px;
    color: #fff;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.75;
    letter-spacing: 1.3px;
    // text-align: justify;
  }

  &__quote {
    font-size: 2.2rem;
    line-height: 1.73;
    color: #b98e49;
    letter-spacing: 2.2px;
    margin-bottom: 12px;

    &-wrapper {
      padding-right: 50px;
      padding-left: 50px;
      margin-top: 64px;
      margin-bottom: 64px;
      &--photo-page {
        padding-right: 0;
        padding-left: 0;
      }
    }

    &-speaker {
      text-align: right;
      font-size: 1.4rem;
      letter-spacing: 1.4px;
      &--photo-page {
        text-align: left;
      }
    }
  }

  &__photo {
    width: 100%;
    height: auto;
    vertical-align: middle;

    &-wrapper {
      position: relative;
      margin: 50px -30px;
      &--dark {
        margin-bottom: 70px;
      }
    }

    &-caption {
      width: 100%;
      font-size: 1.2rem;
      line-height: 2.33;
      letter-spacing: 1px;
      padding-left: 32px;
      // color: #bcbcbc;
      margin-top: 8px;
      &--dark {
        position: absolute;
        height: 50px;
        line-height: 50px;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        // color: #bcbcbc;
      }
      &--photo-page {
        width: 20%;
        max-width: 400px;
        min-width: 240px;
        right: 10%;
        bottom: 70px;
        color: #bcbcbc;
        padding-left: 28px;
        box-sizing: border-box;
        margin-top: 0;
        // opacity: 0;
      }
    }
  }
}