html, body {
  height: 100%;
  position: relative;
  // overflow: hidden;
  // @media screen and (min-width: 576px) {
  //   overflow: hidden;
  // }
}

html {
  font-size: 10px !important;
  font-family: Arial, "Microsoft JhengHei", sans-serif;
}

.overflow-visible {
  overflow: visible;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.mb-0 {
  margin-bottom: 0 !important;
}