@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
	font-family: "Noto Sans CJK TC", "思源黑體", "Noto Sans TC", sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	display: flex;
	font-family: "Noto Sans CJK TC", "思源黑體", "Noto Sans TC", sans-serif;
	overflow: hidden;
}

/*--- Main --- */

.blue {
	background-color: #1469ff;
}

.blueDark {
	background-color: #0027c8;
}

.pink {
	background-color: #ff3c82;
}

.black {
	background-color: #111;
}

.white {
	background-color: #eee;
}

.circle {
	border-radius: 50%;
}

.question .qnumber {
	margin-bottom: 16px;
	font-size: 6.4rem;
	font-weight: 700;
	text-shadow: -4px 4px 0 rgba(17, 17, 17, 0.2);
}

.question h2 {
	width: 380px;
	margin-bottom: 16px;
	font-size: 3.6rem;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 52px;
}

.question .qremind {
	margin-bottom: 32px;
	font-size: 2rem;
	font-weight: 300;
}

.question .answer {
	margin-bottom: 72px;
}

.question .answer>div {
	width: 380px;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1.6px solid #eee;
	border-radius: 28px;
	color: #eee;
	text-align: center;
	cursor: pointer;
	transition: all 0.4s;
}

.question .answer>div+div {
	margin-top: 16px;
}

.question .answer>div:hover {
	background-color: #eee;
}

.question .answer>div:hover.a1 {
	color: #1469ff;
}

.question .answer>div:hover.a2 {
	color: #0027c8;
}

.question .answer>div:hover.a3 {
	color: #ff3c82;
}

.question .answer p {
	position: relative;
	top: -0.8px;
	font-size: 1.8rem;
}

.calcText {
	display: none;
	flex-direction: column;
	align-items: center;
	color: #eee;
	z-index: 1;
}

.calcText h2 {
	margin-right: -8px;
	margin-bottom: 24px;
	font-size: 6.4rem;
	font-weight: 700;
	letter-spacing: 8px;
}

.calcText p {
	margin-right: -4px;
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 4px;
}

#bgBegin {
	width: 100%;
	height: 100vh;
}

#bgBegin .rect {
	width: 434px;
	height: 434px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-animation: beginRect 4s 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	animation: beginRect 4s 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

@-webkit-keyframes beginRect {
	0% {
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) rotate(-360deg);
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

@keyframes beginRect {
	0% {
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) rotate(-360deg);
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

#bgBegin .circle {
	width: 534px;
	height: 534px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-animation: beginCir 4s 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	animation: beginCir 4s 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

@-webkit-keyframes beginCir {
	0%,
	50%,
	100% {
		width: 534px;
		height: 534px;
	}
	25% {
		width: 584px;
		height: 584px;
	}
	75% {
		width: 484px;
		height: 484px;
	}
}

@keyframes beginCir {
	0%,
	50%,
	100% {
		width: 534px;
		height: 534px;
	}
	25% {
		width: 584px;
		height: 584px;
	}
	75% {
		width: 484px;
		height: 484px;
	}
}

#bgBegin #beginStar {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	fill: #ff3c82;
	-webkit-animation: beginStar 4s 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	animation: beginStar 4s 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

@-webkit-keyframes beginStar {
	0% {
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes beginStar {
	0% {
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

#bgBegin header {
	color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

#bgBegin header h1 {
	margin-right: -24px;
	margin-bottom: 24px;
	font-size: 6.4rem;
	font-weight: 700;
	letter-spacing: 24px;
}

#bgBegin header h3 {
	margin-right: -4px;
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 4px;
}

#bgBegin article {
	display: none;
	padding-top: 72px;
	padding-left: 120px;
	letter-spacing: 1.2px;
}

#bgBegin article .qnumber {
	color: #ff3c82;
}

#bgBegin article h2 {
	color: #eee;
}

#bgBegin article .qremind {
	color: #0027c8;
}

#bgQ2 {
	position: relative;
	display: none;
	flex-shrink: 0;
	order: 2;
	margin-left: auto;
}

#bgQ2 .shape {
	height: 100%;
	position: relative;
	overflow: hidden;
}

#bgQ2 .shape>* {
	position: absolute;
	top: 120%;
}

#bgQ2 .rect {
	width: 180px;
	height: 180px;
	left: 70px;
	-webkit-animation: 5s linear infinite;
	animation: 5s linear infinite;
}

@-webkit-keyframes q1Rect {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes q1Rect {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#bgQ2 svg {
	left: 300px;
	fill: #eee;
	-webkit-animation: 5s linear infinite;
	animation: 5s linear infinite;
}

@-webkit-keyframes q1Tri {
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

@keyframes q1Tri {
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

#bgQ2 .circle {
	width: 402px;
	height: 402px;
	left: 82px;
	-webkit-animation: 5s linear infinite alternate;
	animation: 5s linear infinite alternate;
}

@-webkit-keyframes q1Cir {
	50% {
		top: 488px;
		left: 66px;
	}
	100% {
		top: 512px;
		left: 90px;
	}
}

@keyframes q1Cir {
	50% {
		top: 488px;
		left: 66px;
	}
	100% {
		top: 512px;
		left: 90px;
	}
}

#bgQ2 article {
	display: none;
	position: absolute;
	right: 120px;
	padding-top: 72px;
	letter-spacing: 1.2px;
}

#bgQ2 article .qnumber {
	color: #ff3c82;
}

#bgQ2 article h2 {
	color: #eee;
}

#bgQ2 article .qremind {
	color: #1469ff;
}

#bgQ3 {
	display: none;
	position: relative;
	height: auto;
	flex-shrink: 0;
	order: 1;
}

#bgQ3 .shape {
	height: 100%;
	position: relative;
	overflow: hidden;
}

#bgQ3 .shape>* {
	position: absolute;
	top: 120%;
}

#bgQ3 svg {
	fill: #eee;
	right: 62px;
	-webkit-transform-origin: 40% 40%;
	transform-origin: 40% 40%;
	-webkit-transform: rotate(148deg);
	transform: rotate(148deg);
	-webkit-animation: 5s linear infinite;
	animation: 5s linear infinite;
}

@-webkit-keyframes q2Tri {
	100% {
		-webkit-transform: rotate(508deg);
		transform: rotate(508deg);
	}
}

@keyframes q2Tri {
	100% {
		-webkit-transform: rotate(508deg);
		transform: rotate(508deg);
	}
}

#bgQ3 .rect {
	width: 320px;
	height: 320px;
	right: 260px;
	-webkit-transform: rotate(54deg);
	transform: rotate(54deg);
	-webkit-animation: 5s linear infinite;
	animation: 5s linear infinite;
}

@-webkit-keyframes q2Rect {
	100% {
		-webkit-transform: rotate(-306deg);
		transform: rotate(-306deg);
	}
}

@keyframes q2Rect {
	100% {
		-webkit-transform: rotate(-306deg);
		transform: rotate(-306deg);
	}
}

#bgQ3 .circle {
	width: 192px;
	height: 192px;
	right: 140px;
	-webkit-animation: 5s linear infinite;
	animation: 5s linear infinite;
}

@-webkit-keyframes q2Cir {
	25% {
		top: 358px;
		right: 128px;
	}
	75% {
		top: 386px;
		right: 156px;
	}
	100% {
		top: 370px;
		right: 140px;
	}
}

@keyframes q2Cir {
	25% {
		top: 358px;
		right: 128px;
	}
	75% {
		top: 386px;
		right: 156px;
	}
	100% {
		top: 370px;
		right: 140px;
	}
}

#bgQ3 article {
	display: none;
	padding-top: 72px;
	padding-left: 120px;
	letter-spacing: 1.2px;
}

#bgQ3 article .qnumber {
	color: #eee;
}

#bgQ3 article h2 {
	color: #111;
}

#bgQ3 article .qremind {
	color: #111;
}

#bgCalc {
	display: none;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	order: 1;
}

#bgCalc .shape {
	height: 100%;
	position: relative;
	overflow: hidden;
}

#bgCalc .shape>* {
	position: absolute;
	top: 110%;
}

#bgCalc .circle {
	width: 280px;
	height: 280px;
	left: 211px;
	-webkit-animation: 5s linear infinite;
	animation: 5s linear infinite;
}

@-webkit-keyframes q3Cir {
	25% {
		top: -24px;
		left: 227px;
	}
	75% {
		top: -72px;
		left: 179px;
	}
	100% {
		top: -40px;
		left: 211px;
	}
}

@keyframes q3Cir {
	25% {
		top: -24px;
		left: 227px;
	}
	75% {
		top: -72px;
		left: 179px;
	}
	100% {
		top: -40px;
		left: 211px;
	}
}

#bgCalc .rect {
	width: 274px;
	height: 274px;
	left: 65px;
	-webkit-transform: rotate(92deg);
	transform: rotate(92deg);
	-webkit-animation: 5s linear infinite alternate;
	animation: 5s linear infinite alternate;
}

@-webkit-keyframes q3Rect {
	100% {
		-webkit-transform: rotate(68deg);
		transform: rotate(68deg);
	}
}

@keyframes q3Rect {
	100% {
		-webkit-transform: rotate(68deg);
		transform: rotate(68deg);
	}
}

#bgCalc svg {
	left: 200px;
	fill: #111;
	-webkit-transform: rotate(-150deg);
	transform: rotate(-150deg);
	-webkit-animation: 5s linear infinite;
	animation: 5s linear infinite;
}

@-webkit-keyframes q3Tri {
	100% {
		-webkit-transform: rotate(210deg);
		transform: rotate(210deg);
	}
}

@keyframes q3Tri {
	100% {
		-webkit-transform: rotate(210deg);
		transform: rotate(210deg);
	}
}

#bgCalc #calcText3 {
	color: #111;
}

#bgCalc .scrollShape {
	width: 100%;
	height: 100vh;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

#bgCalc .scrollShape>* {
	position: absolute;
}

#bgCalc #scrollRect1 {
	width: 320px;
	height: 320px;
	top: calc(100% + 64px);
	left: 16%;
	-webkit-transform: rotate(124deg);
	transform: rotate(124deg);
}

#bgCalc #scrollRect2 {
	width: 200px;
	height: 200px;
	top: calc(100% + 42px);
	left: 10%;
	-webkit-transform: rotate(-315deg);
	transform: rotate(-315deg);
}

#bgCalc #scrollRect3 {
	width: 124px;
	height: 124px;
	bottom: 24%;
	right: calc(100% + 22px);
	-webkit-transform: rotate(113deg);
	transform: rotate(113deg);
}

#bgCalc #scrollRect4 {
	width: 304px;
	height: 304px;
	top: calc(100% + 64px);
	left: 36%;
	-webkit-transform: rotate(-315deg);
	transform: rotate(-315deg);
}

#bgCalc #scrollRect5 {
	width: 420px;
	height: 420px;
	bottom: -12%;
	right: calc(100% + 50px);
	-webkit-transform: rotate(-285deg);
	transform: rotate(-285deg);
}

#bgCalc #scrollRect6 {
	width: 104px;
	height: 104px;
	top: calc(100% + 20px);
	left: 70%;
	-webkit-transform: rotate(300deg);
	transform: rotate(300deg);
}

#bgCalc #scrollRect7 {
	width: 132px;
	height: 132px;
	bottom: 28%;
	right: calc(100% + 30px);
	-webkit-transform: rotate(-315deg);
	transform: rotate(-315deg);
	z-index: 2;
}

#bgCalc #scrollRect8 {
	width: 320px;
	height: 320px;
	top: calc(100% + 62px);
	left: 6%;
	-webkit-transform: rotate(124deg);
	transform: rotate(124deg);
	z-index: 2;
}

#bgCalc #scrollRect9 {
	width: 304px;
	height: 304px;
	bottom: 24%;
	right: calc(100% + 64px);
	-webkit-transform: rotate(-315deg);
	transform: rotate(-315deg);
	z-index: 2;
}

#bgCalc #scrollRect10 {
	width: 104px;
	height: 104px;
	bottom: -8%;
	right: calc(100% + 20px);
	-webkit-transform: rotate(300deg);
	transform: rotate(300deg);
	z-index: 2;
}

#bgCalc #scrollRect11 {
	width: 8px;
	height: 8px;
	top: 100%;
	right: 100%;
	-webkit-transform-origin: bottom left;
	transform-origin: bottom left;
	-webkit-transform: translate(-50%, 36%) rotate(30deg);
	transform: translate(-50%, 36%) rotate(30deg);
	z-index: 2;
}

.resultTitle {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
	color: #eee;
	margin-bottom: 40px;
	z-index: 99;
}

.resultTitle p {
	margin-right: -4px;
	margin-bottom: 20px;
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 4px;
}

.resultTitle h2 {
	margin-right: -8px;
	font-size: 6.4rem;
	font-weight: 700;
	letter-spacing: 8px;
}

#bgResult {
	width: 100%;
	height: 100vh;
	position: relative;
	display: none;
	flex-direction: column;
	align-items: center;
	padding-top: 28vh;
	background-color: #0027c8;
	overflow: hidden;
}

#bgResult .resultShape {
	position: relative;
	bottom: 0;
}

#bgResult .resultShape#resultRect {
	width: 440px;
	height: 440px;
}

#bgResult .resultShape#resultRect>* {
	position: absolute;
	width: 440px;
	height: 440px;
	top: 100%;
}

#bgResult #resultRect1 {
	top: 30px;
	right: 33px;
}

#bgResult #resultRect2 {
	top: 52px;
	left: 1px;
}

#bgResult #resultRect3 {
	left: 21px;
	border: 5px solid #eee;
}

#bgResult .rect {
	width: 52px;
	height: 52px;
	position: absolute;
	bottom: calc(100% + 12px);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#bgResult #moveRect1 {
	left: 3.1%;
}

#bgResult #moveRect2 {
	left: 25.3%;
}

#bgResult #moveRect3 {
	left: 83.3%;
}

#bgResult #moveRect4 {
	left: 5.7%;
}

#bgResult #moveRect5 {
	left: 71.6%;
}

#bgResult #moveRect6 {
	left: 97.5%;
}