html, body {
  height: 100%;
  overflow: hidden; }

html {
  font-size: 10px; }

body {
  background-color: #9e9e9f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

canvas {
  border-radius: 4px; }

.container {
  position: relative;
  color: #fff;
  font-family: Yantramanav, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; }
  .panel__game {
    display: none;
    height: 100%;
    position: relative; }
    .panel__game-wrapper-center {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      top: 20px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .panel__game-wrapper-right {
      position: absolute;
      top: 28px;
      right: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .panel__game-time {
      font-size: 4.8rem;
      font-weight: 500;
      margin-bottom: 2px; }
    .panel__game-alert, .panel__game-level {
      font-size: 1.8rem;
      color: #f5af5f;
      font-weight: 300;
      margin-left: -21.12px; }
    .panel__game-alert {
      margin-bottom: 4px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .panel__game-hp {
      background-color: #f5af5f;
      width: 216px;
      height: 14px;
      margin-bottom: 18px;
      border-radius: 8px; }
    .panel__game-heart {
      position: relative;
      width: 32px;
      height: 24px;
      margin-right: 6px; }
      .panel__game-heart:before, .panel__game-heart:after {
        content: "";
        position: absolute;
        top: 0;
        width: 16px;
        height: 24px;
        background-color: #e7465d;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px; }
      .panel__game-heart:before {
        left: 16px;
        -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .panel__game-heart:after {
        left: 0;
        -webkit-transform-origin: right bottom;
                transform-origin: right bottom;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .panel__game-heart-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }

.intro {
  font-family: "Microsoft JhengHei", sans-serif;
  font-weight: 300;
  position: absolute;
  bottom: 24px;
  left: 24px;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.618; }

.logo {
  position: absolute;
  top: 36.5%;
  left: 48%;
  font-size: 10rem;
  font-weight: 500; }

h1 {
  position: absolute;
  top: 52%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.4rem; }

button {
  -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
          box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
  outline: none;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  border: 1px solid #fff;
  padding: 6px 20px;
  color: #fff;
  border-radius: 18px;
  font-size: 1.6rem;
  font-family: Yantramanav, sans-serif;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-out, color 0.5s ease-out;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
  -webkit-animation: shine 1.2s infinite ease-out alternate;
          animation: shine 1.2s infinite ease-out alternate; }

@-webkit-keyframes shine {
  100% {
    -webkit-box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 12px rgba(255, 255, 255, 0.8); } }

@keyframes shine {
  100% {
    -webkit-box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 12px rgba(255, 255, 255, 0.8); } }
  button:hover {
    background-color: #fff;
    color: #001d2e; }

.mr-0 {
  margin-right: 0 !important; }

/*# sourceMappingURL=style.css.map */
