// 
  設計稿：https://xd.adobe.com/spec/44284b2a-7c4e-4828-61a6-0144c2323269-3219/screen/972101cb-c729-4bfe-808a-3c03c4be6a70/Web-1920-1/
  說明：
    - https://www.facebook.com/groups/173311386703334/permalink/201194263915046/
    - https://quip.com/Z8YaACGs9Ist
  介接 API：
    - https://taipeicity.github.io/eoc_119/
  
    - https://next.json-generator.com/api/json/get/Ek86hdRMr

//
  尚未完成：
    - 
    
body
  nav
    div
      h1 臺北
        span 市
      h1 颱風災害動態資訊
  main
    div
      .info
        p 防災災情及相關諮詢電話：87863119
        p 分機：8900-8907
      .search-bar
        section
          .title 受災地區：
          .select
            .select__display.dist 所有受災地區
            ul.select__option.dist.hide
              li 所有受災地區
              //- li 大安區
              //- li 中山區
        section
          .title 災害類型：
          .select
            .select__display.type.placeholder - 請選擇災害類型 -
            ul.select__option.type.hide
              li 所有災害類型
              //- li 建物毀損
              //- li 民生、基礎設施災情
        section
          .title 是否處理完成：
          .select
            .select__display.complete.placeholder - 請選擇是否完成 -
            ul.select__option.complete.hide
              li 不選擇
              li 已經處理完成
              li 尚未處理完成
      .search-info
        .search-info__summary 共有 
          span
          |  筆資料
        .search-info__display
          span 一次顯示 
          span.num.active 20
          span  / 
          span.num 40
          span  / 
          span.num 80
          span  筆
      .search-result
        //- div
        //-   article
        //-     section.search-result__time
        //-       .title 發生時間：
        //-       p 2018-07-11 06:18:21
        //-     section.search-result__dist
        //-       .title 受災地區：
        //-       p 內湖區
        //-     section.search-result__type
        //-       .title 災害類型：
        //-       p 積淹水災情
        //-     section.search-result__address
        //-       .title 詳細地址：
        //-       p 金湖路179號金湖路179號對面AIT正門圍牆上面土堆
        //-     section.search-result__desc
        //-       .title 災情描述：
        //-       p 沖刷道路邊  目前路面有積水 民眾擔心排水溝被堵塞 請速派員處理
        //-     .complete
      .pagination
        button.prev.disabled
          i.fas.fa-angle-double-left
        //- button.active(data-num="1") 1
        button.next
          i.fas.fa-angle-double-right
  footer
    p 臺北市 
      span 颱風災害動態資訊
    p 資料來源：臺北市政府 消防局EOC 開放資料專區
          